@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,500,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import "http://webfonts.ru/import/alegreya.css";

@caps-narrow: 'bebas_neuebook';
@caps-head: 'bebas_neue_regularregular';
@head-serif: 'Alegreya SC';
@sans: 'Raleway';

@green: #559347;
@red: #c83335;
@purple: #534f70;
@blue: #347ba8;
@orange: #dc8c2b;
@brown: #4c4138;
@darkbrown: desaturate(darken(#4c4138, 13%), 13%);
@yellow: #e4c024;
@light: #dbd7d2;